@import './normalize.scss';
$bgColor: salmon;
$headerColor: #a0a0a0;
.index {
  background-color: $headerColor;
  &Hello {
    font-size: 48px;
    text-align: center;
  }
}
body{
    background-color: $bgColor
}
